@using DigoErp.Resources.App_Resources
@using DigoErp.Helpers
@using DigoErp.Service.Models
@{
    var userDetails = Session["UserDetail"] as User ?? new User();
    var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
    var absolutePath = urlHelper.Content("~");
}
<!-- begin #header -->
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="@Url.Action("Index","Home",new {area =""})" class="navbar-brand"><img src="~/Images/Digo_Favicon.jpg" style="width:28px;height:24px;margin-right:5px;" /> <b>DigoSolutions</b></a>
        <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end navbar-header -->
    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
        <li class="navbar-form">
            <form action="" method="POST" name="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="@AppResource.Search" />
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                <i class="fa fa-bell"></i>
                <span class="label">5</span>
            </a>
            <div class="dropdown-menu media-list dropdown-menu-right">
                <div class="dropdown-header">NOTIFICATIONS (5)</div>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-bug media-object bg-silver-darker"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Server Error Reports <i class="fa fa-exclamation-circle text-danger"></i></h6>
                        <div class="text-muted f-s-10">3 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <img src="~/assets/img/user/user-1.jpg" class="media-object" alt="" />
                        <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">John Smith</h6>
                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                        <div class="text-muted f-s-10">25 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <img src="~/assets/img/user/user-2.jpg" class="media-object" alt="" />
                        <i class="fab fa-facebook-messenger text-blue media-object-icon"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">Olivia</h6>
                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                        <div class="text-muted f-s-10">35 minutes ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-plus media-object bg-silver-darker"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"> New User Registered</h6>
                        <div class="text-muted f-s-10">1 hour ago</div>
                    </div>
                </a>
                <a href="javascript:;" class="dropdown-item media">
                    <div class="media-left">
                        <i class="fa fa-envelope media-object bg-silver-darker"></i>
                        <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading"> New Email From John</h6>
                        <div class="text-muted f-s-10">2 hour ago</div>
                    </div>
                </a>
                <div class="dropdown-footer text-center">
                    <a href="javascript:;">View more</a>
                </div>
            </div>
        </li>

        <li class="dropdown navbar-language">
            @if (CultureHelper.IsRighToLeft())
            {
                <a href="#" class="dropdown-toggle pr-1 pl-1 pr-sm-3 pl-sm-3" data-toggle="dropdown">
                    <span class="flag-icon flag-icon-sa" title="sa"></span>
                    <span class="name d-none d-sm-inline">العربية</span> <b class="caret"></b>
                </a>
            }
            else
            {
                <a href="#" class="dropdown-toggle pr-1 pl-1 pr-sm-3 pl-sm-3" data-toggle="dropdown">
                    <span class="flag-icon flag-icon-us" title="us"></span>
                    <span class="name d-none d-sm-inline">@AppResource.English</span> <b class="caret"></b>
                </a>
            }
            <div class="dropdown-menu">
                <a href="@Url.Action("SetCulture", "SetCulture", new {culture = "en",area=""})" class="dropdown-item"><span class="flag-icon flag-icon-us" title="us"></span> @AppResource.English</a>
                <a href="@Url.Action("SetCulture", "SetCulture", new {culture = "ar",area=""})" class="dropdown-item"><span class="flag-icon flag-icon-sa" title="sa"></span> العربية</a>
            </div>
        </li>

        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="@(string.IsNullOrEmpty(userDetails.Photo) && !File.Exists(userDetails.Photo) ? absolutePath + "Content/avatar.png" : absolutePath + "" + userDetails.Photo)" alt="" />
                <span class="d-none d-md-inline">@userDetails.FullName</span> <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="@Url.Action("Profile","Users",new {area ="Auth"})" class="dropdown-item">@AppResource.Profile</a>
                <div class="dropdown-divider"></div>
                <a href="@Url.Action("Logout","Account",new {area =""})" class="dropdown-item">@AppResource.Signout</a>
            </div>
        </li>
    </ul>
    <!-- end header-nav -->
</div>
<!-- end #header -->