@using DigoErp.Resources.App_Resources
@using DigoErp.Resources.Settings.Category
@using DigoErp.Service.Enums
@model DigoErp.ViewModels.CategoryViewModel
@{
    ViewBag.Title = Model.Id > 0 ? CategoryRes.EditCategory : CategoryRes.NewCategory;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}
<!-- begin #content -->
<div id="content" class="content" ng-controller="CategoryController as vm">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Settings</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">@ViewBag.Title</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">@ViewBag.Title</h4>
                </div>
                <div class="panel-body">
                    <form name="categoryForm" id="categoryForm" data-parsley-validate="true" ng-submit="vm.save()">
                        <input type="hidden" name="categoryId" id="categoryId" ng-model="vm.Id" value="@(Model.Id > 0 ? Model.Id : 0)" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="Name">@CategoryRes.Name</label>
                                    <input type="text" data-parsley-required="true" class="form-control m-b-5" id="Name" name="Name" ng-model="vm.Name" placeholder="@CategoryRes.EnterName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="Type">@CategoryRes.Type</label>
                                    <select class="form-control m-b-5" data-parsley-required="true" id="Type" name="Type" ng-model="vm.Type">
                                        <option value="">@CategoryRes.SelectType</option>
                                        <option value="@((int)Types.Expense)">@CategoryRes.Expense</option>
                                        <option value="@((int)Types.Income)">@CategoryRes.Income</option>
                                        <option value="@((int)Types.Item)">@CategoryRes.Item</option>
                                        <option value="@((int)Types.Other)">@CategoryRes.Other</option>
                                    </select>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="colorpicker">@CategoryRes.Color</label>
                                    <input type="text" data-parsley-required="true" class="form-control m-b-5" id="colorpicker" name="Color" ng-model="vm.Color" readonly placeholder="@CategoryRes.SelectColor">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="switcher_checkbox_3">@CategoryRes.Enabled</label>
                                    <div class="switcher switcher-purple" style="display: block;">
                                        <input type="checkbox" name="switcher_checkbox_3" id="switcher_checkbox_3" ng-model="vm.Enabled" checked="" value="1">
                                        <label for="switcher_checkbox_3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary m-r-5">@AppResource.Submit</button>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
@section scripts{
    <script src="~/Scripts/Controllers/CategoryController.js"></script>
}
