@using DigoErp.Resources.App_Resources
@using DigoErp.Resources.Settings.Taxes
@{
    ViewBag.Title = TaxRes.TaxRates;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Settings</a></li>
        <li class="breadcrumb-item active">@TaxRes.TaxRates</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">@TaxRes.TaxRates</h1>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">@TaxRes.TaxRates</h4>
            <div class="panel-heading-btn">
                <a class="btn btn-primary btn-xs m-r-5 pull-right" href="@Url.Action("Create", "Taxes",new {area ="Settings"})">@TaxRes.AddNew</a>
            </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <table id="taxesDataTable" class="table table-striped table-bordered table-td-valign-middle">
            </table>
        </div>
        <!-- end panel-body -->
    </div>
    <!-- end panel -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var appUrl = $("#appURL").val();
            var taxesable = $("#taxesDataTable").DataTable({
                "language": {
                    "url": $("#currentLang").val() === "ar" ? appUrl + "assets/plugins/datatables.net/i18n/Arabic.json" : appUrl + "assets/plugins/datatables.net/i18n/English.json"
                },
                "pageLength": $("#recordsPerPage").val() > 0 ? $("#recordsPerPage").val() : 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": appUrl+ "Settings/Taxes/Index",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": 'application/json',
                    "data": function (d) {
                        d.SearchTerm = $('.dataTables_filter input').val();
                        d.Page = (taxesable === "" ? 0 : taxesable.page.info().page) + 1;
                        d.RowsPerPage = taxesable === "" ? 10 : taxesable.page.info().length;
                        d.SortByColumn = taxesable === "" ? 2 : taxesable.order()[0][0];
                        d.SortDir = taxesable === "" ? "asc" : taxesable.order()[0][1];
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    {
                        "title": "@TaxRes.Name", "data": "Name"
                    },
                    {
                        "title": "@(TaxRes.Rate + " (%)")", "data": "Rate",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "@TaxRes.Type", "data": "Type",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "@TaxRes.Enabled", "data": "Enabled",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "Action",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return '<a href="#" class="btn btn-success btn-xs m-r-5 editBtn" data-taxId=' + row.Id + ' ><i class="fa fa-edit"></i></a>' +
                                ' <a class="btn btn-danger btn-xs m-r-5 deleteBtn" data-taxId=' + row.Id + ' href="#"><i class="fa fa-trash"></i></a>';
                        }
                    }
                ]
            });

            taxesable.on("click", ".editBtn", function (evt) {
                evt.preventDefault();
                var taxId = $(this).attr("data-taxId");
                window.location.href = appUrl + "settings/taxes/create/" + taxId;
            });

            taxesable.on("click", ".deleteBtn", function (evt) {
                evt.preventDefault();
                var taxId = $(this).attr("data-taxId");
                swal({
                    title: '',
                    text: "@AppResource.WantToDelete",
                    icon: 'warning',
                    dangerMode: true,
                    buttons: {
                        confirm: "@AppResource.ConfirmDelete",
                        cancel: '@AppResource.CancelDelete'
                    }
                }).then(function (willDelete) {
                    if (willDelete) {
                        $.ajax({
                            "url": "/Settings/Taxes/Delete",
                            "type": "POST",
                            "data": { taxId: taxId },
                            success: function (response) {
                                if (response.StatusCode === 200) {
                                    swal(response.MessageAr, {
                                        icon: "info"
                                    }).then((val) => {
                                        taxesable.draw();
                                    });
                                } else {
                                    swal(response.MessageAr, {
                                        icon: "error"
                                    }).then((val) => {
                                        taxesable.draw();
                                    });
                                }
                            },
                            error: function (httpResult, err, status) {

                            }
                        });
                    }
                }, function (dismiss) {
                });
            });
        })
    </script>
}