@using DigoErp.Resources.App_Resources
@using DigoErp.Resources.Item
@{
    ViewBag.Title = ItemRes.Items;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Sales</a></li>
        <li class="breadcrumb-item active">@ItemRes.Items</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">@ItemRes.Items</h1>
    <!-- end page-header -->
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <!-- begin panel-heading -->
        <div class="panel-heading">
            <h4 class="panel-title">@ItemRes.Items</h4>
            <div class="panel-heading-btn">
                <a class="btn btn-primary btn-xs m-r-5 pull-right" href="@Url.Action("Create", "Items",new {area ="Common"})">@ItemRes.AddNew</a>
            </div>
        </div>
        <!-- end panel-heading -->
        <!-- begin panel-body -->
        <div class="panel-body">
            <table id="itemDataTable" class="table table-striped table-bordered table-td-valign-middle"></table>
        </div>
        <!-- end panel-body -->
    </div>
    <!-- end panel -->
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var appUrl = $("#appURL").val();
            var itemTable = $("#itemDataTable").DataTable({
                "language": {
                    "url": $("#currentLang").val() === "ar" ? appUrl + "assets/plugins/datatables.net/i18n/Arabic.json" : appUrl + "assets/plugins/datatables.net/i18n/English.json"
                },
                "pageLength": $("#recordsPerPage").val() > 0 ? $("#recordsPerPage").val() : 10,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": appUrl + "Common/Items/Index",
                    "type": "POST",
                    "dataType": "json",
                    "contentType": 'application/json',
                    "data": function (d) {
                        d.SearchTerm = $('.dataTables_filter input').val();
                        d.Page = (itemTable === "" ? 0 : itemTable.page.info().page) + 1;
                        d.RowsPerPage = itemTable === "" ? 10 : itemTable.page.info().length;
                        d.SortByColumn = itemTable === "" ? 2 : itemTable.order()[0][0];
                        d.SortDir = itemTable === "" ? "asc" : itemTable.order()[0][1];
                        return JSON.stringify(d);
                    }
                },
                "columns": [

                    {
                        "title": "@ItemRes.Name", "data": "Name",
                        "render": function (data, type, row, meta) {
                            var pic = appUrl + row.Picture;
                            return '<td class="col-xs-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 py-2">' +
                                '<img src="' + pic + '" class="avatar image-style p-1 mr-3 item-img hidden-md col-aka"> ' +
                                data +
                            '</td>';
                        }
                    },
                    {
                        "title": "@ItemRes.Category", "data": "CategoryName",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "@ItemRes.SalePrice", "data": "SalePrice",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "@ItemRes.PurchasePrice", "data": "PurchasePrice",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "@ItemRes.IsEnabled", "data": "IsEnabled",
                        "render": function (data, type, full, meta) {
                            if (typeof data === "undefined" || data === null)
                                return "";
                            return data;
                        }
                    },
                    {
                        "title": "Action",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return '<a href="#" class="btn btn-success btn-xs m-r-5 editBtn" data-itemId=' + row.Id + ' ><i class="fa fa-edit"></i></a>' +
                                ' <a class="btn btn-danger btn-xs m-r-5 deleteBtn" data-itemId=' + row.Id + ' href="#"><i class="fa fa-trash"></i></a>';
                        }
                    }
                ]
            });

            itemTable.on("click", ".editBtn", function (evt) {
                evt.preventDefault();
                var itemId = $(this).attr("data-itemId");
                window.location.href = appUrl + "common/items/create?id=" + itemId;
            });

            itemTable.on("click", ".deleteBtn", function (evt) {
                evt.preventDefault();
                var itemId = $(this).attr("data-itemId");
                swal({
                    title: '',
                    text: "@AppResource.WantToDelete",
                    icon: 'warning',
                    dangerMode: true,
                    buttons: {
                        confirm: "@AppResource.ConfirmDelete",
                        cancel: '@AppResource.CancelDelete'
                    }
                }).then(function (willDelete) {
                    if (willDelete) {
                        $.ajax({
                            "url": "/Common/Items/Delete",
                            "type": "POST",
                            "data": { itemId: itemId },
                            success: function (response) {
                                if (response.StatusCode === 200) {
                                    swal(response.MessageAr, {
                                        icon: "info"
                                    }).then((val) => {
                                        itemTable.draw();
                                    });
                                } else {
                                    swal(response.MessageAr, {
                                        icon: "error"
                                    }).then((val) => {
                                        itemTable.draw();
                                    });
                                }
                            },
                            error: function (httpResult, err, status) {

                            }
                        });
                    }
                }, function (dismiss) {
                });
            });
        })
    </script>
}