@using DigoErp.Resources.App_Resources
@using DigoErp.Resources.Banking.Transfers
@using DigoErp.Resources.Sales
@using DigoErp.Service.Enums
@model DigoErp.ViewModels.TransferViewModel
@{
    ViewBag.Title = Model.Id > 0 ? TransferRes.EditTransfer : TransferRes.NewTransfer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- begin #content -->
<div id="content" class="content" ng-controller="TransfersController as vm">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">@AppResource.Banking</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">@ViewBag.Title</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-lg-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">@ViewBag.Title</h4>
                </div>
                <div class="panel-body">
                    <form name="transferForm" id="transferForm" data-parsley-validate="true" ng-submit="vm.saveForm()">
                        <input type="hidden" name="transferId" id="transferId" ng-model="vm.Id" value="@(Model.Id > 0 ? Model.Id : 0)" />

                        <div class="row">
                            <div class="col-md-6">
                                <label for="FromAccount">@TransferRes.FromAccount</label>
                                <select class="form-control m-b-5 selectpicker" data-live-search="true" id="FromAccount" name="FromAccount" data-parsley-required="true" ng-model="vm.FromAccount" data-live-search="true">
                                    <option value="">@TransferRes.SelectFromAccount</option>
                                    @foreach (var account in Model.Accounts)
                                    {
                                        <option value="@account.Id">@account.AccountName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ToAccount">@TransferRes.ToAccount</label>
                                <select class="form-control m-b-5 selectpicker" id="ToAccount" name="ToAccount" data-parsley-required="true" ng-model="vm.ToAccount" data-live-search="true">
                                    <option value="">@TransferRes.SelectToAccount</option>
                                    @foreach (var account in Model.Accounts)
                                    {
                                        <option value="@account.Id">@account.AccountName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="Amount">@TransferRes.Amount</label>
                                    <input type="text" data-parsley-required="true" class="form-control m-b-5" id="Amount" name="Amount" ng-model="vm.Amount" placeholder="@TransferRes.EnterAmount">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="Date">@TransferRes.Date</label>
                                    <input type="text" data-parsley-required="true" class="form-control m-b-5 datepicker" id="Date" name="Date" ng-model="vm.Date" readonly placeholder="@TransferRes.SelectDate">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="Description">@TransferRes.Description</label>
                                    <textarea id="Description" name="Description" class="form-control m-b-5" rows="3" cols="80" ng-model="vm.Description" placeholder="@TransferRes.EnterDescription"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="PaymentMethod">@TransferRes.PaymentMethod</label>
                                    <select class="form-control m-b-5 selectpicker" data-live-search="true" data-parsley-required="true" id="PaymentMethod" name="PaymentMethod" ng-model="vm.PaymentMethod">
                                        <option value="@((int)PaymentMethod.Cash)">@RevenueRes.Cash</option>
                                        <option value="@((int)PaymentMethod.BankTransfer)">@RevenueRes.BankTransfer</option>
                                        <option value="@((int)PaymentMethod.Debit)">@RevenueRes.Debit</option>
                                        <option value="@((int)PaymentMethod.Credit)">@RevenueRes.Credit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group m-b-10 p-t-5">
                                    <label for="Reference">@TransferRes.Reference</label>
                                    <input type="text" data-parsley-required="true" class="form-control m-b-5" id="Reference" name="Reference" ng-model="vm.Reference" placeholder="@TransferRes.EnterReference">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">@AppResource.Submit</button>
                    </form>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->
@section scripts{

    <script src="~/Scripts/Controllers/TransfersController.js"></script>
}
